PYPI_TOKEN=
# # Jasmin Telnet ##
JASMIN_CLI_HOST=jasmin
JASMIN_CLI_PORT=8990
JASMIN_CLI_TIMEOUT=30
JASMIN_CLI_AUTH=yes
JASMIN_CLI_USERNAME=jcliadmin
JASMIN_CLI_PASSWORD=jclipwd
JASMIN_CLI_STANDARD_PROMPT=jcli : 
JASMIN_CLI_INTERACTIVE_PROMPT=> 
